html * {
	color: white;
	text-shadow: white 0 0 15px;
	font-family: VT323;
}
body {
	background-color: black;
}

p {
	font-size: 20px;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.center {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.jumbotron {
	color: black;
	font-size: 1em;
	position: relative;
	top: 50%;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

table, th, td {
	border: 5px solid white;
	box-shadow: 0 0 20px;
	border-collapse: collapse;
}

table {
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 50%;
}
input {
	background: none;
	width: 50%;
	font-size: 20px;
	padding: 3px;
	box-shadow: 0 0 3px;
}

input:focus {
	outline: none;
}

button {
	font-family: century gothic;
	font-size: 4em;
	background: none;
	border: none;
	width: 100%;
	height: 1.5em;
}

button:focus {
}
